name: Publish to GitHub Packages

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github
          
      - name: Build and publish
        run: mvn clean deploy -DskipTests -pl '!flink-python' -am -Dxml.skip=true -DaltDeploymentRepository=github::default::https://maven.pkg.github.com/mviningas/flink-connector-aws
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}